
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutFrontend.cshtml";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">
                    <i class="db-left"></i>
                    Courses
                    <i class="db-right"></i>
                </span>
                <h2 class="mb-3">Our Sports</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="sidebar-box">
                <form action="#" class="search-form">
                    <div class="form-group">
                        <div class="icon">
                            <span class="icon-search"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                </form>
            </div>
            <div class="sidebar-box ftco-animate">
                <h3 class="heading2">Tag Cloud</h3>
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link">Men</a>
                    <a href="#" class="tag-cloud-link">Women</a>
                    <a href="#" class="tag-cloud-link">Childern</a>
                    <a href="#" class="tag-cloud-link">Old</a>
                    <a href="#" class="tag-cloud-link">Top</a>
                </div>
            </div>
            <!-- Rows Show Sports-->
            @{
                for (int i = 0; i < 9; i++)
                {
                    <div class="col-md-4" id="Sport_@i">
                        <div class="pricing-wrap ftco-animate img" style="background-image: url(../Content/images/program-1.jpg);">
                            <div class="title p-4">
                                <h3>Weight Lifting</h3>
                                <span>Behind the word mountains</span>
                            </div>
                            <div class="text p-4 d-flex align-items-end">
                                <a href="#" class="btn-custom px-4 py-2">Enroll Now</a>
                                <div>
                                    <span class="price">$240.00</span>
                                    <h3><a href="#">Weight Lifting</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <!--End Rows Show Sports-->
        </div>
    </div>
</section>


