<li class="nav-item" id="Home"><a href="~/Home/Home" class="nav-link">Home</a></li>
<li class="nav-item" id="Posts"><a href="~/Posts" class="nav-link">Post</a></li>
<li class="nav-item" id="Sports"><a href="~/Sports" class="nav-link">Sports</a></li>
<li class="nav-item" id="Coaches"><a href="~/Coaches" class="nav-link">Coaches</a></li>
<li class="nav-item" id="Posts">
    <a href="~/Posts" class="nav-link">
        <i class="material-icons" id="ntv" style="color:red">notifications_none</i>
        <span class="badge badge-light" id="nmber_msg">4</span>
    </a>
</li>
<li class="nav-item" id="Coaches">
    <a href="~/Coaches" class="nav-link">
        <i class="material-icons" id="msg" style="color:red">message</i>
        <span class="badge badge-light" id="nmber_msg">1</span>
    </a>
</li>
<!--li class="nav-item" id="Profile">
    <ul>
        <li><a href="~/Profile" class="nav-link">Profile</a></li>
        <li><a href="~/Profile" class="nav-link">Chats</a></li>
        <li><a href="~/Profile" class="nav-link">Live</a></li>
        <li><a href="~/Profile" class="nav-link">Sign out</a></li>
    </ul>
</li-->
