<li class="nav-item" id="Home"><a href="~/Home" class="nav-link">Home</a></li>
<li class="nav-item" id="About"><a href="~/About" class="nav-link">About</a></li>
<li class="nav-item" id="Contact"><a href="~/Contact" class="nav-link">Contact</a></li>
<li class="nav-item" id="In"><a href="~/Connect" class="nav-link">SingIn/Login</a></li>
