<li class="nav-item" id="Home"><a href="~/Home/Home" class="nav-link">Home</a></li>
<li class="nav-item" id="Posts"><a href="~/Posts" class="nav-link">Post</a></li>
<li class="nav-item" id="Sports"><a href="~/Sports" class="nav-link">Sports</a></li>
<li class="nav-item" id="Coaches"><a href="~/Coaches" class="nav-link">Coaches</a></li>
<li class="nav-item" id="Notifications">
    <a href="" class="nav-link">
        <i class="material-icons" id="not" style="color:red">notifications_none</i>
        <span class="badge badge-light" id="nmber_msg">4</span>
    </a>
</li>
<li class="nav-item" id="Chats">
    <a href="~/Chats" class="nav-link">
        <i class="material-icons " id="msg" style="color:red">message</i>
        <span class="badge badge-light" id="nmber_msg">1</span>
    </a>
</li>
<li class="nav-item" id="Profiles">
    <a href="~/Profiles" class="nav-link">
        <i class="fa fa-user-circle"></i>
    </a>
</li>
<li class="nav-item" id="Logout">
    <a href="~/Home/Logout" class="nav-link">
        <i class="fa fa-sign-out"></i>
    </a>
</li>