
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/_LayoutFrontend.cshtml";
}
}
<section class="hero-wrap js-fullheight">
    <div class="overlay" style="background-image: url(/Content/images/bg_2.jpg);" data-stellar-background-ratio="0.5"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end">

            <div class="col-md-12 text-center ftco-animate">
                <h1 class="mt-5" style="background-color: #ff00006e;" data-stellar-background-ratio="0.5">Error<br>404</h1>
                <h2>We are sorry<br>The page chosen not found </h2>
            </div>
        </div>
    </div>
</section>

