
@{
    var minPost = (List<MyCoaches.Models.Post>)ViewData["minPost"];
    foreach (var item in minPost)
    {
        <h3 class="heading2">@(item.Choix.Sport.Libelle)</h3>
        <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" href="~/Posts/DetailsPost/@(item.id)" style="background-image: url(/Content/images/@(item.LinkPosts.First().Link))"></a>
            <div class="text">
                <h3 class="heading"><a href="~/Posts/DetailsPost/@(item.id)">@(item.Titer)</a></h3>
                <div class="meta">
                    <div>
                        <span class="icon-calendar"></span>
                        @{ System.Globalization.CultureInfo info = new System.Globalization.CultureInfo("en-US"); var m = info.DateTimeFormat.GetMonthName(item.DatePost.Value.Month); }@(m)
                        &nbsp;@(item.DatePost.Value.Day)&nbsp;,&nbsp @(item.DatePost.Value.Year)
                    </div>
                    <div><a href="~/Posts/DetailsPost/@(item.id)"><span class="icon-chat"></span> @(item.Commentaires.Count())</a></div>
                </div>
            </div>
        </div>
    }
}
