
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutFrontend.cshtml";
}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">
                    <i class="db-left"></i>
                    Read Posts
                    <i class="db-right"></i>
                </span>
                <h2 class="mb-3">Recent Posts</h2>
                <p>Our Coaches Lastest Posts</p>
            </div>
        </div>
        <div class="row d-flex">
            <!--Rows Post Show-->
            @{
                for (int i = 0; i < 50; i++)
                {
                    <div class="col-lg-4 d-flex ftco-animate" >
                        <div class="blog-entry align-self-stretch">
                            <a href="~/Posts/DetailsPost" class="block-20" style="background-image: url('../Content/images/image_1.jpg');">
                            </a>
                            <div class="text py-4 d-flex">
                                <div class="meta text-center">
                                    <span class="day">04</span>
                                    <span class="mos">January</span>
                                    <span class="yr">2019</span>
                                </div>
                                <div class="desc">
                                    <h3 class="heading mt-2"><a href="~/Posts/DetailsPost">Post title 1</a></h3>
                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <!-- End Rows Post Show-->
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

